* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial',sans-serif;;
    line-height: 1.2;
}

/* header */
header {
    background-color: #146150;
    color: white;
    width: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar */
.name {
    display: flex;
    justify-content: start;
    font-size: 1.5em; 
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif;
    width: 1200px;
 }

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    font-size: 1.1em;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color:#0d3a30;
    background-color: whitesmoke;
    border-radius: 5px;
}

/* main-section */
main {
    padding-top: 200px; 
}

section {
    padding: 60px 0;
    text-align: center;
}

/* bo1 home */
.cta-button {
    margin-top: 10px;
    display: inline-block;
    background-color: #146150;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #1F9696;
}
h1, h2, h3 {
    margin-bottom: 30px;
}
    /* box2 feature  */
.feature-item {
    line-height: 1.6;
}

/* box3 contact */

form {
    max-width: 600px;
    margin: 0 auto;
}

input, textarea, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: roboto;
}

button {
    background-color: #146150;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1F9696;
}

/* box4 foter */
footer {
    background-color: #146150;
    color: white;
    text-align: center;
    padding: 20px 0;
}

